.news-list {
    list-style-type: none;
    padding: 0;
  }
  
  .news-item {
    margin-bottom: 10px;
  }
  
  .news-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .news-link:hover {
    color: #007bff;
  }

  .formulario {
    width: 500px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 250px;
  }
  
  .formulario label {
    display: block;
    margin-bottom: 10px;
  }
  
  .formulario .input {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .formulario .botao {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .formulario .botao:hover {
    background-color: #0056b3;
  }

  /* App.css */

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #ced4da;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px 40px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f00; /* Mudança de cor ao passar o mouse */
}

.formulario-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 20px;
}

.formulario-button:hover {
  background-color: #007bff; /* Mantém a mesma cor ao passar o mouse */
}

.news-list {
  list-style-type: none;
  padding: 0;
}

/* Estilos para cada item de notícia */
.news-item {
  margin-bottom: 20px; /* Espaçamento entre os itens de notícia */
}

/* Estilos para o link da notícia */
.news-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Estilos para o link da notícia ao passar o mouse */
.news-link:hover {
  color: #007bff; /* Mudança de cor ao passar o mouse */
}

/* Estilos para a imagem da notícia */
.news-thumbnail img {
  width: 100%; /* Imagem ocupa toda a largura do contêiner */
  height: auto; /* Altura é ajustada automaticamente */
  border-radius: 5px; /* Borda arredondada */
}

/* Estilos para o título da notícia */
.news-title {
  margin-top: 10px; /* Espaçamento entre a imagem e o título */
  font-size: 18px; /* Tamanho do texto do título */
  font-weight: bold; /* Negrito */
}

/* Estilos para o texto da notícia */
.news-description {
  margin-top: 10px; /* Espaçamento entre o título e o texto da notícia */
  font-size: 16px; /* Tamanho do texto da notícia */
}